@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
 font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

/* --- Custom EQ Slider Styles --- */

/* This targets the main slider element */
.custom-eq-slider {
 -webkit-appearance: none; /* Hides the default slider look in Chrome/Safari */
 appearance: none;
 background: transparent; /* Allows the track styles below to show through */
 cursor: pointer;
 /* Add some vertical padding to make the slider easier to grab */
 padding-top: 8px;
 padding-bottom: 8px;
}

/* --- Styling the Track (the bar the thumb slides on) --- */

/* For Chrome, Safari, Opera, Edge */
.custom-eq-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px; /* <--- Controls the thickness */
  cursor: pointer;
  background: #222429;
  border-radius: 9999px;
  box-shadow: inset 3px 3px 2px #222429, inset -3px -3px 2px #3e424b;
}

/* For Firefox */
.custom-eq-slider::-moz-range-track {
  width: 100%;
  height: 4px; /* <--- Controls the thickness */
  cursor: pointer;
  background: #222429;
  border-radius: 9999px;
  box-shadow: inset 3px 3px 2px #222429, inset -3px -3px 2px #3e424b;
}

/* --- Styling the Thumb (the draggable handle) --- */

/* For Chrome, Safari, Opera, Edge */
.custom-eq-slider::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 margin-top: -8px; /* Helps vertically center the thumb on the track */
 height: 32px;
 width: 12px;
 background-color: #30333a;
 border-radius: 6px;
 border: 1px solid #25edda;
 box-shadow: 3px 3px 3px #131417, -3px -3px 3px #4d525d;
}

/* For Firefox */
.custom-eq-slider::-moz-range-thumb {
 height: 32px;
 width: 12px;
 background-color: #30333a;
 border-radius: 6px;
 border: 1px solid #25edda;
 box-shadow: 3px 3px 3px #131417, -1px -1px 3px #4d525d;
 cursor: pointer;
}